html {
 background:#EEE;
}

.logcntnr input {
 width:100%;
}

.logcntnr .log {
 font-family:monospace;
 background:white;
 border:1px inset black;
 padding:.25em;
 margin:0;
}

.controlbtns {
 background:#445566;
 padding:.25em;
 margin:.25em 0;
}

.webcam img {
 border:4px solid #445566;
 padding:2px;
}

.roverview {
 display:flex;
}

.roverview .webcam {
 flex:1;
 text-align: center;
}
.roverview .controlCanvas {
 flex:0;
 width:25%;
}